In [ ]:
# Создание словаря

d1 = {"key1": "value1", "key2": "value2"}
d2 = dict(key1="value1", key2="value2")
d3 = dict([("key1", "value1"), ("key2", "value2")])

# Создайте любой словарь из 5 объектов, например, список студентов, информация о них и успеваемость по разным дисциплинам

In [8]:
student1 = {
    "id": 101,
    "name": "Анна Иванова",
    "age": 20,
    "faculty": "Информатика",
    "grades": {"Программирование": 95, "Математика": 88, "Базы данных": 92}
}

student2 = dict(
    id=102,
    name="Петр Сидоров",
    age=22,
    faculty="Физика",
    grades={"Механика": 78, "Оптика": 85, "Квантовая физика": 90}
)

student3 = dict([
    ("id", 103),
    ("name", "Мария Петрова"),
    ("age", 21),
    ("faculty", "Экономика"),
    ("grades", {"Макроэкономика": 91, "Статистика": 87, "Финансы": 89})
])

print(student1)
print(student2)
print(student3)

{'id': 101, 'name': 'Анна Иванова', 'age': 20, 'faculty': 'Информатика', 'grades': {'Программирование': 95, 'Математика': 88, 'Базы данных': 92}}
{'id': 102, 'name': 'Петр Сидоров', 'age': 22, 'faculty': 'Физика', 'grades': {'Механика': 78, 'Оптика': 85, 'Квантовая физика': 90}}
{'id': 103, 'name': 'Мария Петрова', 'age': 21, 'faculty': 'Экономика', 'grades': {'Макроэкономика': 91, 'Статистика': 87, 'Финансы': 89}}

In [9]:
# Выведите на экран все значения, попробуйте также вывести значение по несуществующему ключу

value1 = student3["id"]
value2 = student3.get("name")
value3 = student3.get("age", "parents")

print(value1, value2, value3)

103 Мария Петрова 21

In [10]:
student2["faculty"] = "Математика"
student2["parent name"] = "Станислав Олегович"

print(student2)

{'id': 102, 'name': 'Петр Сидоров', 'age': 22, 'faculty': 'Математика', 'grades': {'Механика': 78, 'Оптика': 85, 'Квантовая физика': 90}, 'parent name': 'Станислав Олегович'}

In [11]:
removed_data = student1.pop("age")
del student2["parent name"]

print(removed_data)
print(student2)

20
{'id': 102, 'name': 'Петр Сидоров', 'age': 22, 'faculty': 'Математика', 'grades': {'Механика': 78, 'Оптика': 85, 'Квантовая физика': 90}}